.bg{
    background-image: url("../../images/pattern-bg.png");
    height: 14em;
}
.searchcontainer{
    display: flex;
    
}
.bar{
    position: absolute;
    margin-top: 3em;
    height: 3em;
    width: 30em;
    border: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.button{
    position: absolute;
    margin-top: 80px;
    height: 2em;
    width: 4em;
    background-color:rgb(41, 38, 38);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}